fastapi
uvicorn[standard]
python-dotenv
python-multipart
sqlalchemy
pydantic
pydantic-settings
passlib[bcrypt]
bcrypt>=4.0.0,<5.0.0
python-jose[cryptography]
psycopg2-binary
pandas
openpyxl
reportlab
fastapi-mail
gunicorn
slowapi
python-json-logger
alembic
email-validator
a2wsgi
